<div id="list-container" class="d-flex justify-content-center">
  <div class="card shadow p-3 bg-white rounded" style="margin-top: 4rem;">
    <div class="card-body">
      <%- include('./plugins/messages.ejs') %>
      <h5 class="card-title">Contact <%= donor %></h5>
      <form method="POST">
        <div class="form-group">
          <label for="firstname">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            aria-describedby="firstname"
            placeholder="Enter your full name"
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            aria-describedby="emailHelp"
            placeholder="name@example.com"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your Message</label>
          <textarea
            class="form-control"
            name="message"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <a href="/" class="card-link">Cancel</a>
      </form>
    </div>
  </div>
</div>
