<!-- view for the donor login -->
<h1>
    Login
</h1>

<div class="col-auto">
    <form action="/login" method="post">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Enter password">
        </div>
        

        <div>
            <a href="/" class="btn btn-outline-secondary">
                Cancel
            </a>
            <a href="/signup" class="btn btn-outline-secondary">
                Sign Up
            </a>
            <button class="btn btn-primary" type="submit" id="submit_id" required>
                Join Us
            </button>
        </div>
    </form>
</div>