<!-- page to host map -->
<link href="/styles/map.css" rel="stylesheet" />

<div>
  <h1>Hello from Plasma-19</h1>
</div>
<!-- <div class="sidebar pad2">Listing</div> -->
<!-- <div class="sidebar">
  <div class="heading">
    <h1>Donors</h1>
  </div>
  <div id="listings" class="listings"></div>
</div>
<div id="map" class="map pad2">Map</div> -->

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<script type="text/javascript" src="/javaScript/map.js"></script>
