<!-- page to host map -->
<link href="/styles/map.css" rel="stylesheet" />
<div id="map"></div>
<div id="list-container" class="d-flex justify-content-center">
  <div
    class="list-group overflow-auto"
    style="height: 400px; width: 50%; margin-top: 4em;"
    id="list-element"
  >
    <!-- list items populated from script below -->
    <!-- </div> -->
    <!-- </div>
<div id="map" class="map pad2">Map</div> 

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div> -->

    <!-- <script type="text/javascript" src="/javaScript/map.js"></script> -->
    <script type="text/javascript">
      var listElement = document.getElementById("list-element");
      var seekingMessage = document.createElement('h2');
      seekingMessage.innerHTML = "Finding donors near you...<br>"+"<h4> Please make sure location is activated </h4>";
      seekingMessage.style.color = 'white';
      listElement.appendChild(seekingMessage);
      mapboxgl.accessToken =
        "pk.eyJ1IjoicGRhbzIwMTUiLCJhIjoiY2p5ZDlqNnI4MG84NDNjcW14bzAwbXVpbSJ9.-GnGL_1vL8oZm_XHI9jSqw";

      var geoTracker = new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true,
        },
        trackUserLocation: true,
      });

      var map = new mapboxgl.Map({
          container: "map",
          style: "mapbox://styles/mapbox/streets-v11",
          center: [-77.034084142948, 38.909671288923],
          zoom: 13,
          scrollZoom: false,
        });

        map.addControl(geoTracker, "top-right");



        map.on("load", function(e){
          geoTracker.trigger();
          geoTracker.on("geolocate", showList);
        })


      // if (navigator.geolocation) {
      //   navigator.geolocation.getCurrentPosition(showList);
      // }

      function showList(position) {
        // x.innerHTML =
        //   "Latitude: " +
        //   position.coords.latitude +
        //   "<br>Longitude: " +
        //   position.coords.longitude;
        // var position = ev;
        listElement.removeChild(seekingMessage);
        console.log(position);
        var userLoc = [position.coords.longitude, position.coords.latitude];
        console.log(position.coords.latitude, position.coords.longitude);
        var donors = <%- JSON.stringify(donors) %>;
        console.log(donors);
        var donorLoc;
        for (let i = 0; i < donors.length; i++) {
          if (donors[i].Address.location.longitude != 0 && donors[i].Address.location.latitude != 0) {
            donorLoc = [donors[i].Address.location.longitude, donors[i].Address.location.latitude]
            donors[i].dstToUser = euclDst(donorLoc, userLoc);
            console.log(i);
            console.log(donors[i].dstToUser);
          } else {
            //donors[i].dstToUser = 1000000;
            donors[i].dstToUser = "undefined";
          }
        }
        //var sortedDonors = sortDonors(donors);
        donors.sort(function (a, b) {
          return a.dstToUser - b.dstToUser;
        })
        console.log(donors);
        //var listElement = document.getElementById('list-element');
        for (let i = 0; i < donors.length; i++) {

          if (donors[i].dstToUser != "undefined"){
             var listItem = document.createElement('a');
            listItem.href = `/donors/${donors[i]._id}`; //Change # to link we would redirect to
            // listItem.classList.add("jumbotron");
            listItem.classList.add("list-group-item");
            listItem.classList.add("list-group-item-action");
            listItem.classList.add("list-group-item-dark");
            listItem.innerHTML = `
              <div class="row">
                <div class="col-8">
                <h3> ${donors[i].firstname} </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                <a href="/donors/${donors[i]._id}" class="btn btn-primary">Contact</a>
                </div>
                <div class="col-3 flex-col-reverse">
                  <h6>${donors[i].dstToUser.toPrecision(1)} mi away</h6>
                </div>
                
              </div>
              `;

            listElement.appendChild(listItem);
          }


        }

      }


      function euclDst(donorLoc, userLoc) {
        //return (Math.sqrt(Math.pow((donorLoc[0]-userLoc[0]), 2) + Math.pow((donorLoc[1]-userPos[1]), 2)));
        return Math.sqrt(
          (donorLoc[0] - userLoc[0]) * (donorLoc[0] - userLoc[0]) + (donorLoc[1] - userLoc[1]) * (donorLoc[1] - userLoc[1])
        );
      }
    </script>
  </div>
</div>
